@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    background-color: $white;
    color: $black;
    font-family: $mainFont;
}

a {
    color: inherit;
    text-decoration: none;
}
