@mixin breakpoint-up($point) {
    @if $point==xxl {
        @media (min-width: 1800px) {
            @content;
        }
    }

    @else if $point==extra-large-xxl {
        @media (min-width: 1441px) {
            @content;
        }
    }

    @else if $point==extra-large {
        @media (min-width: 1400px) {
            @content;
        }
    }

    @else if $point==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $point==lg {
        @media (min-width: 1025px) {
            @content;
        }
    }

    @else if $point==md {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $point==sm-md {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (min-width: 568px) {
            @content;
        }
    }
}

@mixin breakpoint-down($point) {

    @if $point==xl {
        @media (max-width: 1400px) {
            @content;
        }
    }

    @else if $point==lg {
        @media (max-width: 1199px) {
            @content;
        }
    }

    @else if $point==md {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (max-width: 991px) {
            @content;
        }
    }

    @else if $point==sm-xs {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point==xs {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $point==mobile {
        @media (max-width: 567px) {
            @content;
        }
    }

    @else if $point==xs-mobile {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $point==s-mobile {
        @media (max-width: 320px) {
            @content;
        }
    }
}