@use 'breakpoint' as *;
@use 'variables' as *;

body.modal-open {
    overflow: hidden;
}

.product-section {
    width: 100%;
    padding: 16px;

    @include breakpoint-up(sm) {
        padding: 32px;
    }

    @include breakpoint-up(lg) {
        padding: 64px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 1680px;
        margin: 0 auto;
        overflow: hidden;

        @include breakpoint-up(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        @include breakpoint-down(xs) {
            gap: 24px;
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 32px;

        @include breakpoint-down(xs) {
            padding: 0;
        }
    }

    &__main-content {
        position: relative;
        border-radius: 12px;
    }
}

.category-nav {
    width: 100%;
    max-width: 688px;

    &__subtitle {
        margin-bottom: 16px;
        color: $gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    &__title {
        margin-bottom: 64px;
        color: inherit;
        font-weight: 500;
        font-size: 38px;
        line-height: 1.2;

        @include breakpoint-down(xs) {
            margin-bottom: 24px;
            font-size: 28px;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        border-bottom: 1px solid $light-gray-secondary;
        color: $light-gray-secondary;
        transition: all 0.2s ease-in-out;

        .category-nav__item--active &,
        &:hover {
            border-bottom-color: $black;
            color: $black;
        }

        @include breakpoint-down(xs) {
            padding: 24px 0;
        }
    }

    &__link-title {
        color: inherit;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;

        @include breakpoint-down(xs) {
            font-size: 22px;
            line-height: 1.3;
        }
    }

    &__arrow {
        width: 24px;
        height: 24px;
    }
}

.product-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &--visible {
        position: relative;
        opacity: 1;
        pointer-events: all;
    }

    &__image-link {
        display: block;
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__details {
        display: flex;
        z-index: 15;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: space-between;
        margin: 0 16px 14px;
        padding: 24px 32px;
        gap: 8px;
        border-radius: 16px;
        background-color: $white;
        color: $black;

        @include breakpoint-down(xs) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 8px 6px;
            padding: 12px 16px;
        }
    }

    &__name-link {
        color: inherit;
        text-decoration: none;
        transition: color 0.15s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 8px;
        color: inherit;
        text-align: right;

        @include breakpoint-down(xs) {
            line-height: 1.5;
        }

        &-sale {
            color: $red;
            font-weight: 500;
            font-size: 16px;
        }

        &-original {
            color: $light-gray-secondary;
            font-weight: 400;
            font-size: 14px;
            text-decoration: line-through;

            @include breakpoint-down(xs) {
                font-size: 16px;
            }
        }
    }
}

.product-tags {
    display: flex;
    z-index: 20;
    position: absolute;
    top: 16px;
    left: 16px;
    flex-direction: column;
    min-width: 63px;
    gap: 4px;

    @include breakpoint-down(xs) {
        top: 8px;
        left: 8px;
    }

    &__item {
        padding: 8px 16px;
        border-radius: 8px;
        background-color: $white;
        color: $black;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;

        &:not(&--sale) {
            box-shadow: inset 0 0 0px 1px $light-gray;
        }

        &--sale {
            background-color: $red;
            color: $white;
        }
    }
}

.product-actions {
    display: flex;
    z-index: 20;
    position: absolute;
    top: 16px;
    right: 16px;
    flex-direction: column;
    gap: 12px;

    @include breakpoint-down(xs) {
        top: 8px;
        right: 8px;
        gap: 4px;
    }

    &__button {
        padding: 12px;
        border: none;
        border-radius: 16px;
        background-color: $white;
        box-shadow: inset 0 0 0px 1px $light-gray;
        color: $white;
        line-height: 0;
        cursor: pointer;
        transition: background-color 0.15s ease;

        @include breakpoint-down(xs) {
            padding: 12px;
            border-radius: 8px;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: none;
            stroke: currentColor;

            @include breakpoint-down(xs) {
                width: 16px;
                height: 16px;
            }
        }
    }
}
