@use 'breakpoint'as *;
@use 'variables'as *;

body.modal-open {
    overflow: hidden;
}

.product-section {
    width: 100%;
    padding: 16px;

    @include breakpoint-up(sm) {
        padding: 32px;
    }

    @include breakpoint-up(lg) {
        padding: 64px;
    }


    &__container {
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include breakpoint-up(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            border-left: none;
        }

        @include breakpoint-down(xs) {
            gap: 24px;
        }
    }

    &__sidebar {
        padding: 32px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include breakpoint-down(xs) {
            padding: 0;
        }
    }

    &__main-content {
        position: relative;
        background-color: $white;
        border-radius: 12px;
    }
}

.category-nav {
    max-width: 688px;
    width: 100%;

    &__subtitle {
        font-size: 16px;
        line-height: 1.5;
        color: $gray;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__title {
        font-size: 38px;
        line-height: 1.2;
        font-weight: 500;
        color: inherit;
        margin-bottom: 64px;

        @include breakpoint-down(xs) {
            font-size: 28px;
            margin-bottom: 24px;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        color: $light-gray-secondary;
        border-bottom: 1px solid $light-gray-secondary;
        transition: all 0.2s ease-in-out;

        .category-nav__item--active &,
        &:hover {
            color: $black;
            border-bottom-color: $black;
        }

        @include breakpoint-down(xs) {
            padding: 24px 0;
        }
    }

    &__link-title {
        color: inherit;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.2;

        @include breakpoint-down(xs) {
            font-size: 22px;
            line-height: 1.3;
        }
    }

    &__arrow {
        width: 24px;
        height: 24px;
    }
}

.product-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    border-radius: 16px;
    overflow: hidden;

    &--visible {
        position: relative;
        opacity: 1;
        pointer-events: all;
    }

    &__image-link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 24px 32px;
        border-radius: 16px;
        margin: 0 16px 14px;
        color: $black;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 15;
        gap: 8px;

        @include breakpoint-down(xs) {
            padding: 12px 16px;
            margin: 0 8px 6px;

            flex-direction: column;
            align-items: flex-start;
        }

    }

    &__name-link {
        color: inherit;
        text-decoration: none;
        transition: color 0.15s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    &__price {
        color: inherit;
        text-align: right;
        display: flex;
        align-items: center;
        gap: 8px;

        @include breakpoint-down(xs) {
            line-height: 1.5;
        }

        &-sale {
            font-size: 16px;
            font-weight: 500;
            color: $red;
        }

        &-original {
            font-size: 14px;
            font-weight: 400;
            color: $light-gray-secondary;
            text-decoration: line-through;

            @include breakpoint-down(xs) {
                font-size: 16px;
            }
        }
    }
}

.product-tags {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 20;
    min-width: 63px;

    @include breakpoint-down(xs) {
        top: 8px;
        left: 8px;
    }

    &__item {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: $white;
        color: $black;


        &:not(&--sale) {
            box-shadow: inset 0 0 0px 1px $light-gray;
        }

        &--sale {
            background-color: $red;
            color: $white;
        }
    }
}

.product-actions {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 20;

    @include breakpoint-down(xs) {
        gap: 4px;
        top: 8px;
        right: 8px;
    }

    &__button {
        color: $white;
        background-color: $white;
        padding: 12px;
        border: none;
        border-radius: 16px;
        box-shadow: inset 0 0 0px 1px $light-gray;
        transition: background-color 0.15s ease;
        cursor: pointer;
        line-height: 0;

        @include breakpoint-down(xs) {
            padding: 12px;
            border-radius: 8px;
        }

        svg {
            width: 24px;
            height: 24px;
            stroke: currentColor;
            fill: none;

            @include breakpoint-down(xs) {
                width: 16px;
                height: 16px;
            }
        }
    }
}