@use 'variables' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;

    &--open {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        background-color: $white;
        padding: 24px 32px;
        border-radius: 8px;
        max-width: 90%;
        width: 450px;
        position: relative;
        box-shadow: 0 25px 50px -12px rgba($black, 0.25);
        text-align: center;

        transform: scale(0.95);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;

        .modal--open & {
            transform: scale(1);
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: $black;

        &:hover {
            color: $black;
        }
    }

    &__message-text {
        font-size: 20px;
        font-weight: 500;
        color: $black;
        line-height: 1.4;
        margin: 0;
        padding-right: 25px;
        display: block;
    }
}