@use 'variables' as *;

.modal {
    display: flex;
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
    opacity: 0;
    transition:
        opacity 0.3s,
        visibility 0.3s;

    &--open {
        display: flex;  
        visibility: visible;
        opacity: 1;
    }

    &--init-hidden {
        // display: none;
    }

    &__content {
        position: relative;
        width: 450px;
        max-width: 90%;
        padding: 24px 32px;

        transform: scale(0.95);
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0 25px 50px -12px rgba($black, 0.25);
        text-align: center;
        transition:
            transform 0.3s ease-out,
            opacity 0.3s ease-out;

        .modal--open & {
            transform: scale(1);
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        color: $black;
        font-size: 24px;
        line-height: 0;
        cursor: pointer;

        &:hover {
            color: $black;
        }
    }

    &__message-text {
        display: block;
        margin: 0;
        padding-right: 25px;
        color: $black;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
    }
}